# Laravel & PHP files
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache

# Laravel environment files
.env
.env.backup
.env.production

# IDE / editor files
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Composer
composer.lock
Homestead.json
Homestead.yaml

# NPM logs
npm-debug.log
yarn-error.log

# Authentication files
/auth.json


# Firebase service account credentials
/public/firebase/service-account.json